/* utilities  */
.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.u-mw-100 {
    max-width: 100%;
}

.u-o-hidden {
    overflow: hidden;
}

/* file preview utility */
.u-file-preview {
    display: block;
    border: 0;
    width: 100%;
    height: 480px;
}

@media (min-width: 641px) {
  .u-file-preview {
      height: 550px;
  }
}

@media (min-width: 769px) {
  .u-file-preview {
      height: 650px;
  }
}

@media (min-width: 992px) {
  .u-file-preview {
      height: 800px;
  }
}

/* header search-form */
@media (max-width: 48.0525em) {
    .idsk-header-web__main-action-search {
        display: none;
        width: 100%;
        margin: 0;
    }
}

/* intro-block */
@media (min-width: 48.0625em) {
    .idsk-intro-block__list__ul {
        margin-bottom: -10px;
    }
}

@media (max-width: 48.0525em) {
    .idsk-intro-block__side-menu {
        padding: 0 15px;
    }
}

/* table-filter */
.idsk-table-filter__parameter {
    display: flex;
    align-items: baseline;
    max-width: 100%;
    box-sizing: border-box;
}

.idsk-table-filter__parameter .idsk-table-filter__parameter-title {
    display: flex;
    max-width: 100%;
}

/* timeline */
.idsk-timeline.has-items {
    padding-bottom: 40px;
}

.idsk-timeline.has-items .idsk-timeline__content:first-child {
    margin-top: 0px;
}

.idsk-timeline__content {
    height: auto;
    margin-top: 30px;
    margin-bottom: 0;
}

.idsk-timeline__content.govuk-body {
    margin-top: 20px;
    margin-bottom: 25px;
}

.idsk-timeline__content__date-line {
    margin-top: 5px;
    margin-bottom: -55px;
}

.idsk-timeline__content__title {
    margin-top: 0;
}

.idsk-timeline__content__title .govuk-heading-m {
    margin-top: 0;
}

.idsk-timeline__content__title-div {
    margin-top: 30px;
    margin-bottom: -15px;
}

/* pagination  */
.idsk-pagination {
    font-size: 0;
    line-height: 0;
}

.idsk-pagination .idsk-button {
    width: auto;
}

/* buttons */
.idsk-button--transparent {
    color: inherit;
    background: transparent;
    box-shadow: none;
}

.idsk-button--events-none {
    pointer-events: none;
}

/* stepper */
.govuk-heading-l.idsk-stepper-pattern__intro-heading {
    margin-bottom: 20px;
    padding-top: 0;
    margin-top: -10px;
}

/* article */
.idsk-article-pattern__subtitle {
    color: #626A6E;
    padding-bottom: 5px;
}

@media(min-width: 48.0525em) {
    .idsk-article-pattern__element-right {
        float: right;
        margin-right: 15px;
    }
}

#idsk-article-pattern .govuk-body-s {
    font-size: 16px;
    line-height: 20px;
}

.idsk-article-pattern__text-silver--down {
    padding-top: 10px;
    padding-bottom: 13px;
}

.idsk-article-pattern__text-silver--up {
    border-top: 1px solid #BFC1C3;
    padding-top: 10px;
}

@media(min-width: 48.0525em) {
    .idsk-article-pattern__text-silver--down {
        border-bottom: 1px solid #BFC1C3;
    }
}

.idsk-article__social-networks {
    margin-left: -15px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.idsk-article__social-networks a {
    text-decoration: none;
}

/* card */
.idsk-card-list {
    font-size: 0;
    line-height: 0;
}

.idsk-card-list.reset-margin-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: -15px;
}

@media (min-width: 40.0625em) {
    .idsk-card-list.reset-margin-bottom {
        margin-bottom: -30px;
    }
}

/* form */
.idsk-form.reset-margin-bottom .idsk-form-action-list {
    margin-bottom: -22px;
}

@media (min-width: 40.0625em) {
    .idsk-form.reset-margin-bottom .idsk-form-action-list {
        margin-bottom: -32px;
    }
}

/* cookie banner */
.idsk-cookie-banner {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    padding-top: 20px;
    border-bottom: 10px solid transparent;
    background-color: #f3f2f1;
}

@media print {
    .idsk-cookie-banner {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .idsk-cookie-banner {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .idsk-cookie-banner {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.idsk-cookie-banner[hidden] {
    display: none;
}

.idsk-cookie-banner__message {
    margin-bottom: -10px;
}

.idsk-cookie-banner__message[hidden] {
    display: none;
}

.idsk-cookie-banner__message:focus {
    outline: none;
}

/* tabs */
.idsk-tabs__mobile-tab-content:not(.idsk-tabs__mobile-tab-content--hidden) {
    display: block;
}

@media (min-width: 40.0625em) {
    .idsk-tabs__mobile-tab-content {
         display: block;
    }
}

/* footer */
.idsk-footer-extended {
    align-items: stretch;
    overflow: hidden;
}
